{% extends 'layout.html' %} {% block content %}
<div style="margin-bottom: 0.5cm">
  <center>
    <img
      src="{{ url_for('video_feed') }}"
      class="rounded"
      width="70%"
      height="40%"
    />
  </center>
</div>

<div>
  <h2 class="text-center">Real-time Stats</h2>
</div>

<center>
  <div class="row">
    <div class="col-2">
      <p class="lead text-monospace" style="margin-bottom: 0rem">
        Vehicles in frame:
      </p>
      <p class="lead text-monospace" id="count"></p>
    </div>

    <div class="col-2">
      <p class="lead text-monospace" style="margin-bottom: 0rem">
        Moving vehicles:
      </p>
      <p class="lead text-monospace" id="movingVehicles"></p>
    </div>
    <div class="col-2">
      <p class="lead text-monospace" style="margin-bottom: 0rem">
        Stopped vehicles:
      </p>
      <p class="lead text-monospace" id="stoppedVehicles"></p>
    </div>
    <div class="col-2">
      <p class="lead text-monospace" style="margin-bottom: 0rem">
        Forward Density:
      </p>
      <p class="lead text-monospace" id="currentForwardDensity"></p>
    </div>
    <div class="col-2">
      <p class="lead text-monospace" style="margin-bottom: 0rem">
        Backward Density:
      </p>
      <p class="lead text-monospace" id="currentBackwardDensity"></p>
    </div>
    <div class="col-2">
      <p class="lead text-monospace" style="margin-bottom: 0rem">
        Current FPS:
      </p>
      <p class="lead text-monospace" id="fps"></p>
    </div>
  </div>
</center>

<div>
  <h2 class="text-center">Summary</h2>
</div>

<center>
  <div class="row">
    <div class="col-4">
      <p class="lead text-monospace" style="margin-bottom: 0rem">
        Average vehicles crossing the junction:
      </p>
      <p class="lead text-monospace" id="averageVehiclesMean"></p>
    </div>
    <div class="col-4">
      <p class="lead text-monospace" style="margin-bottom: 0rem">
        Average Forward Density:
      </p>
      <p class="lead text-monospace" id="averageDensityForwardMean"></p>
    </div>
    <div class="col-4">
      <p class="lead text-monospace" style="margin-bottom: 0rem">
        Average Backward Density:
      </p>
      <p class="lead text-monospace" id="averageDensityBackwardMean"></p>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <p class="lead text-monospace" style="margin-bottom: 0rem">
        Average Stop Time:
      </p>
      <p class="lead text-monospace" id="averageStopTime"></p>
    </div>
    <div class="col-6">
      <p class="lead text-monospace" style="margin-bottom: 0rem">
        Peak Time (Minute):
      </p>
      <p class="lead text-monospace" id="peakTimeStart"></p>
    </div>
  </div>
</center>

<center>
  <a
    class="btn btn-secondary"
    href="{{ url_for('main') }}"
    style="margin-right: 10px"
    >Go Home</a
  >
  <a href="{{ url_for('download') }}" class="btn btn-secondary">Download</a>
</center>

<script>
  var count = document.getElementById("count");

  setInterval(() => {
    fetch("{{ url_for('count_feed') }}").then((response) => {
      response.text().then((t) => {
        count.innerHTML = t;
      });
    });
  }, 500);

  var movingVehicles = document.getElementById("movingVehicles");

  setInterval(() => {
    fetch("{{ url_for('movingVehicles_feed') }}").then((response) => {
      response.text().then((t) => {
        movingVehicles.innerHTML = t;
      });
    });
  }, 500);

  var stoppedVehicles = document.getElementById("stoppedVehicles");

  setInterval(() => {
    fetch("{{ url_for('stoppedVehicles_feed') }}").then((response) => {
      response.text().then((t) => {
        stoppedVehicles.innerHTML = t;
      });
    });
  }, 500);

  var currentForwardDensity = document.getElementById("currentForwardDensity");

  setInterval(() => {
    fetch("{{ url_for('currentForwardDensity_feed') }}").then((response) => {
      response.text().then((t) => {
        currentForwardDensity.innerHTML = t;
      });
    });
  }, 500);

  var currentBackwardDensity = document.getElementById(
    "currentBackwardDensity"
  );

  setInterval(() => {
    fetch("{{ url_for('currentBackwardDensity_feed') }}").then((response) => {
      response.text().then((t) => {
        currentBackwardDensity.innerHTML = t;
      });
    });
  }, 500);

  var fps = document.getElementById("fps");

  setInterval(() => {
    fetch("{{ url_for('fps_feed') }}").then((response) => {
      response.text().then((t) => {
        fps.innerHTML = t;
      });
    });
  }, 500);

  var averageVehiclesMean = document.getElementById("averageVehiclesMean");

  setInterval(() => {
    fetch("{{ url_for('averageVehiclesMean_feed') }}").then((response) => {
      response.text().then((t) => {
        averageVehiclesMean.innerHTML = t;
      });
    });
  }, 500);

  var averageStopTime = document.getElementById("averageStopTime");

  setInterval(() => {
    fetch("{{ url_for('averageStopTime_feed') }}").then((response) => {
      response.text().then((t) => {
        averageStopTime.innerHTML = t;
      });
    });
  }, 500);

  var averageDensityForwardMean = document.getElementById(
    "averageDensityForwardMean"
  );

  setInterval(() => {
    fetch("{{ url_for('averageDensityForwardMean_feed') }}").then(
      (response) => {
        response.text().then((t) => {
          averageDensityForwardMean.innerHTML = t;
        });
      }
    );
  }, 500);

  var averageDensityBackwardMean = document.getElementById(
    "averageDensityBackwardMean"
  );

  setInterval(() => {
    fetch("{{ url_for('averageDensityBackwardMean_feed') }}").then(
      (response) => {
        response.text().then((t) => {
          averageDensityBackwardMean.innerHTML = t;
        });
      }
    );
  }, 500);

  var peakTimeStart = document.getElementById("peakTimeStart");

  setInterval(() => {
    fetch("{{ url_for('peakTimeStart_feed') }}").then((response) => {
      response.text().then((t) => {
        peakTimeStart.innerHTML = t;
      });
    });
  }, 500);
</script>

{% endblock content %}
