<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Video Stream</title>
  </head>
  <body>
    <img src="{{ url_for('video_feed') }}" alt="" />
    <p id="clock"></p>
  </body>
  <script>
    var clock = document.getElementById("clock");

    setInterval(() => {
      fetch("{{ url_for('time_feed') }}").then((response) => {
        response.text().then((t) => {
          clock.innerHTML = t;
        });
      });
    }, 1000);
  </script>
</html>
